# https://docs.gitlab.com/ee/user/project/code_owners.html
# Each CODEOWNERS entry requires at least 2 or more individuals OR at least 1 group with access to the repository.
# The order in which the paths are defined is significant: the last pattern that matches a given path will be used to find the code owners.

[Maintainers]
* @theoretick @jamesliu-gitlab @vbhat161 @craigmsmith

^[Reviewers]
* @gitlab-org/secure/static-analysis
